* {
  margin: 0;
  box-sizing: border-box;
  padding: 0;
}

/* start of header section */
a {
  text-decoration: none;
}
ul {
  list-style-type: none;
}
img {
  width: 100px;
  border-radius: 10px;
}

header {
  width: 100%;
  overflow: hidden;
  background-color: aqua;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
nav ul {
  display: flex;
}
nav ul li a {
  display: inline-block;
  padding: 0.9rem 1.2rem;
}
/* nav ul li a.active { 
  background-color: bisque;
  border-radius: 10px;*/
}

/* end of header section */
