/* start of global variables */
* {
  margin: 0;
  box-sizing: border-box;
  padding: 0;
}
/* end of global variables */

/* start of nav section */
.vic{
  height: 30px;
  width: 30px;
  border-radius: 50%;
}
/* end of nav section */

/* start hero section */
.hero {
  height: 90vh;
  border: 1px solid red;
  display: flex;
  align-items: center;
  justify-content: center;

}
.hero-image{
  height: 90vh;
  position: absolute;
  width: 100%;
  filter: brightness(50%);
}
.hero-mid{
  position: relative;
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
/* end of hero section */

/* start of about section */
.about {
  /* width: 100%; */
  height: 50vh;
  background-color: aliceblue;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: larger;
  /* overflow: scroll; */
}
.about h3 {
  margin: 20px;
}
.about h3 span {
  color: #0000ff;
  font-weight: bolder;
  font-size: xx-large;
}
/* start of the resume */
.resume {
  /* width: 100%; */
  height: 70vh;
  background-color: azure;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
/* end of the resume */

/* start of the projects section */
.projects {
  background-color: aliceblue;
  width: 100%;
  height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: large;
}
/* end of the projects section */

/* start of the skills section */
.skills {
  background-color: azure;
  width: 100%;
  height: 40vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
/* end of the skills section */

/* start of the footer section */
footer {
  background-color: black;
  height: 7vh;
  width: 100%;
  color: azure;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
/* end of the footer section */

/* start of media queries */
@media screen and (min-width: 500px) and (max-width: 800px) {
  body {
    color: black;
  }
}
@media screen and (min-width: 801spx) {
  body {
    width: 220px;
    float: left;
    padding: 15px;
  }
}
/* end of meadia queries */

/* end of the body section */
